#root {
  max-width: 1280px;
  min-width: 20vw;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width:920px) {
  #root {
    min-width: 50vw;
  }
}

@media (max-width:560px) {
  #root {
    min-width: 80vw;
  }
}

.wrapper__form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 25vw;
  ;
}